.all-container{
background-image: url(../exerciciobonussite/background-site-restaurante.jpg);
color: bisque;
text-shadow: 0 0 1em black, 0 0 1em black, 0 0 1em black;
}
.all-container h1{
text-align: center;
font-size: 50px; 
margin-top: 15px;
}
.all-container h4{
font-size: 35px;
}
.container-radio{
max-width: 140px;
}
.container-radio input:checked{
background-color: orange;
box-shadow: 0 0 1em orange, 0 0 1em red;
border-color: orange;
}
.all-text{
max-width: 250px;

}
.all-text option{
font-weight: 600;
}
.form-control{
font-weight: 600;
background-color: bisque;
}
.form-select{
font-weight: 600;
}
.col-form-label{
font-size: 25px;
}
.form-select{
background-color: bisque;
}
.form-floating > .form-control{
max-width: 500px;
min-height: 300px;
background-color: bisque;
}
.btn{
background-color: orange;
color: white;
font-weight: 600;
box-shadow: 2px 2px 4px black;
}
.btn:hover{
box-shadow: none;
background-color: orange ;
border: none;
color: white;
}
/*formatação da página principal logo abaixo*/
p strong{
color: brown;
}
body h2{
font-size: 40pt;
color: brown;
text-shadow: 2px 2px 4px black;
}
.cabeçalho{
position: fixed;
background-color: orange;
width: 100%;
height: 70px;
border-bottom: 5px solid brown;
box-shadow: 3px 3px 6px brown;
display: flex;
align-items:center;
justify-content: space-evenly;
z-index: 100;
top: 0;
}
.cabeçalho h1{
text-shadow: 0 0 1em brown;
}
.cabeçalho h1:hover{
color: rgba(0,0,0,.5);
}
.cabeçalho a{
text-decoration: none;
color: black;
margin: 0 5px;
font-size: 18px;
background-color: rgba(165, 50, 50,.5);
padding: 5px 10px;
border-radius: 5px;
background-size: cover;
box-shadow: 2px 2px 4px brown;
}
.cabeçalho a:hover{
box-shadow: none;
color: black;
}
/* acima formatação do header*/
.section_restaurante{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: rgba(255, 165, 0, .5);
width: 100%;
}
.section_restaurante h2{
margin-top: 120px;
}
.section_restaurante p{
max-width: 800px;
font-size: 20px;
}
.section_restaurante img{
margin-top: 20px;
width: 500px;
height: 300px;
position: relative;
border-radius: 10px;
}
.section_restaurante img:hover{
box-shadow: 0 0 1em brown;
}
.section_restaurante figcaption{
position: absolute;
top: 85%;
left: 40%;
color: white;
text-shadow: 0 0 1em brown, 0 0 1em brown;
}
.section_chef{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}
.section_chef h2{
text-align: center;
}
.section_chef p{
text-align: center;
max-width: 800px;
font-size: 20px;
margin-bottom: 20px;
}
.section_chef img{
width: 500px;
height: 300px;
border-radius: 10px;
}
.section_chef img:hover{
box-shadow: 0 0 1em brown;
}
.section_chef figcaption{
position: absolute;
top: 70%;
left: 40%;
color: white;
text-shadow: 0 0 1em brown;
text-align: center;
}
.section_equipe{
display: flex;
flex-direction: column;
align-items: center;
background-color:rgba(255, 165, 0, .5) ;
}
.section_equipe h2{
text-align: center;
}
.section_equipe p{
text-align: center;
font-size: 20px;
max-width: 800px;
}
.section_equipe img{
width: 500px;
height: 300px;
border-radius: 10px;
}
.section_equipe img:hover{
box-shadow: 0 0 1em brown;
position: relative;
}
.section_equipe .figerOne{
position: absolute;
top: 1800px;
left: 43%;
color: white;
text-shadow: 0 0 1em brown;
text-align: center;
}
.section_equipe .figerTwo{
position: absolute;
top: 2220px;
left: 40%;
color: white;
text-shadow: 0 0 1em brown;
text-align: center;
}
.section_menu_left_right{
display: flex;
justify-content: space-around;
}
#menu-text{
text-align: center;
margin-bottom: 30px;
}
.section_menu_left_right h3{
color: brown;
}
.section_menu_left_right strong{
color: brown;
}
.section_menu_left_right li{
font-weight: 600;
list-style: none;
}
.section_contato{
display: flex;
text-align: center;
flex-direction: column;
background-color:rgba(255, 165, 0, .5) ;
}
.section_contato h2{
margin-bottom: 20px;
}
.section_contato p{
font-size: 18px;
}
.section_contato a{
text-decoration: none;
color: brown;
}
.footer{
background-color: orange;
height: 80px;
border-top: 5px solid brown;
box-shadow: 0 0 1em brown;
}
.footer ul{
display: flex;
justify-content: space-evenly;

}
.footer li{
margin: 0 -210px;

}
.footer p{
 margin-left: 40%;
}
@media screen and (max-width:412px) {
.cabeçalho{
height: 100px;
align-items: center;
flex-direction: column;
max-width: 500px;
margin: 0 0;
}
.cabeçalho a{
font-size: 18px;
padding: 2px;
margin: 0 2px;
}
.cabeçalho h1{
font-size: 25px;
}
.section_principal{
width: 480px;
}
.section_principal p{
width: 390px;
text-align: center;
font-size: 25px;
font-weight: 500;
}
.section_equipe p{
position: relative;
}
.section_principal img{
width: 390px;

}
.section_restaurante figcaption{
position: absolute;
top: 1090px;
}
.section_chef figcaption{
position: absolute;
top: 990px;
left: 30%;
}
.section_equipe .figerOne{
position: absolute;
top: 200em;
}
.section_equipe .figerTwo{
position: absolute;
top: 240em;
left: 35%;
}
#menu-text{
position: relative;
left: 22%;
width: 300px;
}
.section_menu_left_right{
display: block;
margin-left: 10px;
font-size: 20px;
font-weight: 500;
}
.section_contato{

width: 480px;
}
.footer{
width: 480px;

}
.footer ul{
align-items: flex-start;
}
.footer li{
margin: 1px;
list-style: none;
font-size: 18px;
}
.footer p{
position: relative;
margin-left: 50px;
width: 250px;
left: 13%;
font-size: 20px;

}
}












